:root {
  color-scheme: dark;
  --clr-opacity: rgba(120 120 120/ 20%);
  --clr-opacity-hover: rgba(120 120 120/ 30%);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
} */
* {
  padding: 0;
  margin: 0;
  font-family:
    Clash Grotesk,
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
}

a:focus {
  border: salmon;
}

button {
  font-size: 1rem;
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

input {
  font-size: 1rem;
  padding: 1rem;
  background: none;
  border: 1px solid rgba(120 120 120/ 70%);
  border-radius: 0.5rem;
  padding-left: 1rem;
}

input:focus {
  outline: none;
}

.white {
  background-color: white;
  color: darkslateblue;
}

.red {
  background: crimson;
  color: white;
}

.disabled {
  color: #6a6a6a;
}

.disabled-btn {
  background: #2a2a2a;
  color: #4a4a4a;
}

.fixed-length {
  width: 85svw;
}

@media (width>576px) {
  .fixed-length {
    width: 18rem;
  }
}
