:root {
  /* color-scheme: dark;
  --clr-opacity: rgba(120 120 120/ 20%);
  --clr-opacity-hover: rgba(120 120 120/ 30%);
  --clr-accent: crimson;
  --clr-bg: rgba(25 25 25/ 95%);
  background: url("https://static.vecteezy.com/system/resources/previews/021/015/287/original/dark-neon-hexagon-gaming-background-vector.jpg");
  --clr: black;
  --clr-btn: crimson;
  --text: white; */

  color-scheme: light;
  --clr-bg: rgb(240 240 240);
  --clr-opacity: rgba(120 120 120/ 10%);
  --clr-accent: #3131ab;
  background: url(/bg.webp);
  background-position: 60% 0%;
  --clr: rgb(230 230 230);
  --clr-btn: navy;
  --text: black;
}

/* @media (prefers-color-scheme: light) {
  :root {
  }
} */
* {
  letter-spacing: 0.025rem;
  padding: 0;
  margin: 0;
  font-family: Clash Grotesk, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
}

a:focus {
  border: salmon;
}

button {
  font-size: 1rem;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

button :active {
  opacity: 0.75;
}

input {
  font-size: 1rem;
  padding: 1rem;
  background: none;
  border-radius: 0.5rem;
  padding-left: 1.25rem;
  border: 2px solid rgba(100 100 100/ 25%);
}

input:focus {
  outline: none;
}

table tr:nth-child(even) {
  background: rgba(100 100 100/ 5%);
}

/* table tr:hover {
  background: rgba(100 100 100/ 15%);
} */

table th {
  background-color: var(--clr-accent);
  background: #6a6a6a;
  /* background: linear-gradient(180deg, var(--clr-accent), midnightblue); */
  padding: 0.25rem;
  color: var(--clr);
}

table td {
  font-weight: 500;
  padding: 0.5rem;
}

table td:active {
  background: rgba(100 100 100/ 20%);
}

.table tr:hover {
  background: var(--clr-opacity);
}

.table th:hover {
  background: none;
}

.table td {
  border: 1px solid;
}

.table td {
  background: rgb(222 222 222);
}

table {
  font-size: 0.75rem;
  background: var(--clr-bg);
  overflow-y: scroll;
}

td {
  padding: 0.5;
  transition: 0.3s;
  /* border: 1px solid rgba(100 100 100/ 25%); */
}

th {
  font-weight: 600;
  /* background: rgba(100 100 100/ 10%); */
  /* border: 1px solid rgba(100 100 100/ 25%); */
}

table tr {
  /* background: rgba(100 100 100/ 5%); */
  /* backdrop-filter: blur(20px); */
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

/* tr:hover {
  background: rgba(100 100 100/ 20%);
} */

.white {
  background-color: white;
  color: darkslateblue;
}

.red {
  transition: 0.25s;
  background: var(--clr-accent);
  color: white;
}

.red:active {
  opacity: 0.75;
}

.disabled {
  background: rgba(100 100 100/15%);
  color: #6a6a6a;
}

.disabled-btn {
  background: var(--clr-opacity);
  backdrop-filter: blur(15px);
  color: #8a8a8a;
}

.fixed-length {
  width: 85svw;
}

.opacity {
  transition: 0.25s;
  background: rgb(200 200 200);
  color: var(--clr-accent);
  box-shadow: 1px 1px 10px rgba(100 100 100/ 75%);
}

.opacity:active {
  opacity: 0.75;
}

.snap-top {
  justify-content: flex-start;
  padding-top: 4rem;
}

.snap-center {
  justify-content: center;
}

.page-canvas {
  display: flex;
  width: 100%;
  height: 100svh;
  flex-flow: column;
  overflow-y: auto;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  padding-top: 3.5rem;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.05rem;
  background: var(--clr-opacity);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
}

.inventory-item {
  border: 2px solid rgba(0 0 0/ 15%);
  transition: 0.3s;
}

.inventory-item:hover {
  box-shadow: 1px 1px 20px rgba(0 0 0/ 50%);
  cursor: pointer;
}

.calendar th {
  background: none;
  color: var(--text);
}

@media (width>576px) {
  .fixed-length {
    width: 20rem;
  }
  table {
    font-size: 1rem;
  }
  td {
    padding: 0.5rem;
  }
}
